In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv('data/train_V2.csv')
df = df.dropna()

In [17]:
len(df)

4446965

In [18]:
# 캐주얼, 노말 모드 drop
df= df[~(df['matchType'] =='flaretpp')&
   ~(df['matchType'] =='flarefpp')&
   ~(df['matchType'] =='crashfpp')&
   ~(df['matchType'] =='crashtpp')&
   ~(df['matchType'] =='normal-squad-fpp')&
   ~(df['matchType'] =='normal-solo-fpp')&
   ~(df['matchType'] =='normal-duo-fpp')&
   ~(df['matchType'] =='normal-duo')&
   ~(df['matchType'] =='normal-squad')&
   ~(df['matchType'] =='normal-solo')]

In [20]:
4446965- len(df)

35267

In [21]:
# matchid 60명 이하인 데이터 drop
matchId_drop = df['matchId'].value_counts().loc[df['matchId'].value_counts()>60].index
df = df.loc[df['matchId'].isin(matchId_drop)]

In [22]:
4411698 - len(df)

21120

In [26]:
df = df.drop(columns=['Id',
                 'killPoints',
                 'matchDuration',
                 'maxPlace',
                 'teamKills',
                 'roadKills',
                 'vehicleDestroys',
                ])

In [28]:
4446965-len(df)

56387

In [29]:
df.head()

,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,kills,...,matchType,numGroups,rankPoints,revives,rideDistance,swimDistance,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,0,...,squad-fpp,26,-1,0,0.0000,0.00,244.80,1,1466,0.4444
1,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,0,...,squad-fpp,25,1484,0,0.0045,11.04,1434.00,5,0,0.6400
2,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,0,...,duo,47,1491,0,0.0000,0.00,161.80,2,0,0.7755
3,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,0,...,squad-fpp,30,1408,0,0.0000,0.00,202.70,3,0,0.1667
4,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,1,...,solo-fpp,95,1560,0,0.0000,0.00,49.75,2,0,0.1875